<center>
    <h2>
        Aged Payables (Summary)
    </h2>
    <h3>
        {{company_name}}
        <br/>
        As at {{fmt_date date}}
    </h3>
</center>
<table class="table table-striped">
    <thead>
        <tr class="scroll-header">
            <th>
            </th>
            <th style="text-align:right">
                Total Payable
            </th>
            <th style="text-align:right">
                Current
            </th>
            {{#each periods}}
                <th style="text-align:right">
                    {{period_name}}
                </th>
            {{/each}}
            <th style="text-align:right">
                Older
            </th>
        </tr>
        <tr>
            <th colspan="7">
                Payables
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each lines context=context}}
            <tr>
                <td>
                    {{contact_name}}
                </td>
                <td style="text-align:right">
                    {{#link action="report_supp_invoice" defaults_contact_id=contact_id defaults_date_to=date_to_total}}
                        {{currency amount_total}}
                    {{/link}}
                </td>
                <td style="text-align:right">
                    {{#link action="report_supp_invoice" defaults_contact_id=contact_id defaults_date_from=date_from_current}}
                        {{currency amount_current}}
                    {{/link}}
                </td>
                {{#each periods}}
                    <td style="text-align:right">
                        {{#link action="report_supp_invoice" defaults_contact_id=contact_id defaults_date_from=date_from defaults_date_to=date_to}}
                            {{currency amount}}
                        {{/link}}
                    </td>
                {{/each}}
                <td style="text-align:right">
                    {{#link action="report_supp_invoice" defaults_contact_id=contact_id defaults_date_to=date_to_older}}
                        {{currency amount_older}}
                    {{/link}}
                </td>
            </tr>
        {{/each}}
    </tbody>
    <tfoot>
        <tr style="font-weight:bold">
            <td>
                Total Payables
            </td>
            <td style="text-align:right">
                {{currency total}}
            </td>
            <td style="text-align:right">
                {{currency total_current}}
            </td>
            {{#each periods}}
                <td style="text-align:right">
                    {{currency total}}
                </td>
            {{/each}}
            <td style="text-align:right">
                {{currency total_older}}
            </td>
        </tr>
    </tfoot>
</table>
