<center>
    <h2>
        Purchase Order Generator
    </h2>
    <h3>
        {{company_name}}
    </h3>
</center>
<table class="table table-bordered table-hover table-striped">
    <thead class="scroll-header">
        <tr>
            <th style="width:20px"><input type="checkbox" class="nf-select-all"/></th>
            <th>
                Product Code
            </th>
            <th>
                Product Name
            </th>
            <th>
                Supplier Name
            </th>
            <th>
                Available Qty
            </th>
            <th>
                Min Qty
            </th>
            <th>
                Days Until Min Qty
            </th>
            <th>
                Lead Time Days
            </th>
            <th>
                Need To Order
            </th>
            <th>
                Order Qty
            </th>
        </tr>
    </thead>
    <tbody>
        {{#each lines}}
            <tr {{#if need_order}}style="background-color:#fcc"{{/if}}>
                <td><input type="checkbox" class="nf-prod-select" data-product-id="{{prod_id}}" data-qty="{{qty_order}}"/></td>
                <td>{{link string=prod_code action="product" active_id=prod_id mode="form"}}</td>
                <td>{{prod_name}}</td>
                <td>{{supplier_name}}</td>
                <td>{{qty_avail}}</td>
                <td>{{min_qty}}</td>
                <td><a href="#">{{days_remain}}</a></td>
                <td>{{lead_days}}</td>
                <td>{{#if need_order}}Y{{else}}N{{/if}}</td>
                <td>{{order_qty}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>
<button class="btn btn-success btn-lg nf-btn-order"><span class="glyphicon glyphicon-arrow-right"></span> Order Products</button>
<script>
$(function() {
    $(".nf-btn-order").click(function() {
        var prod_qtys={};
        $("input.nf-prod-select:checked").each(function() {
            var prod_id=$(this).data("product-id");
            var qty=$(this).data("qty");
            prod_qtys[prod_id]=qty;
        });
        console.log("prod_qtys",prod_qtys);
        if (_.isEmpty(prod_qtys)) {
            alert("No items selected");
            return;
        }
        var action={
            name: "stock_order",
            context: {
                product_qtys: prod_qtys,
            },
        };
        NF.actions.execute(action);
    });

    $(".nf-select-all").click(function() {
        var val=$(this).is(":checked");
        $("input.nf-prod-select").prop("checked",val);
    });
});
</script>
